@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.page-content {
  margin-top: 100px;
}

footer {
  border-top: 1px solid #e4e4e4;
  margin-top: 150px;

  p {
    color: #979797;
  }
}

.form-control {
  background-color: #f3f3f3;
}
